<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>TaskManager</title>
</head>

<body>
<h1>Assign this task to user</h1>
<form id = "shareToUser"
      th:action="@{'/task/addUser/' + ${task.id}}"
      method="POST">

    <table>
        <tr>
            <td><label for="userNameInput">Username</label>
            <td><input id=userNameInput type="text" th:field="${user.userName}" placeholder="USERNAME" required/></td>
            <td th:if="${#fields.hasErrors('user.userName')}" th:errors="${user.userName}" th:style="'color:red'"></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Assign</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>