<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>TaskManager</title>
</head>

<body>
<h1>Project details</h1>
    <table>
        <tr>
            <td>Project Name: </td>
            <td th:text="${project.name}">PROJECT NAME</td>
        </tr>
        <tr>
            <td>Project Description: </td>
            <td th:text="${project.description}">PROJECT DESCRIPTION</td>
        </tr>
    </table>
    <h2><a th:href="@{'/project/modifyProject/' + ${project.id}}">Modify Project</a></h2>
    <h2><a th:href="@{'/project/shareProject/' + ${project.id}}">Share Project</a></h2>
    <h2><a th:href="@{'/project/confirmDeleteProject/' + ${project.id}}">Delete Project</a></h2>
    <h2><a th:href="@{'/project/createTask/' + ${project.id}}">Add Task</a></h2>
    <h2><a th:href="@{'/project/viewTasks/' + ${project.id}}">View Tasks</a></h2>
    <h2><a th:href="@{/home}">Home</a></h2>
</body>
</html>